<%- include('./partials/header', {title: '掲示板API'}) %>

<h1>掲示板APIエクササイズ</h1>
<div id="add-comment">
    <input type="text" name="add-username" id="add-username">
    <input type="text" name="add-body" id="add-body">
    <button id="add-btn">Add</button>
</div>
<div id="main">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Comment</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>
</div>
<script src="js/main.js"></script>

<%- include('./partials/footer') %>